* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 73, 125, 0.5803921569);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30%;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.overlay-content a {
  display: block;
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
.overlay-content a:hover {
  transform: scale(1.2);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.area {
  background-color: #f9f3f0;
  height: 40px;
}

.pad-2 {
  background-color: #f9f3f0;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 3;
  top: 5px;
}
header nav {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  width: 80%;
}
header nav .header-section {
  display: flex;
  align-items: center;
}
header nav .header-section .icons {
  display: flex;
  gap: 15px;
}
header nav .header-section .icons div.bars {
  display: none;
}
header nav .header-section .icons .circle {
  background-color: #49b3ff;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  align-items: center;
}
header nav .header-section .icons .circle i {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
header nav .header-section .icons .circle:hover {
  transform: scale(1.2);
}
header nav .header-section ul {
  margin-bottom: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
header nav .header-section ul li {
  list-style: none;
}
header nav .header-section ul li a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
header nav .header-section ul .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}
header nav .header-section ul .hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header nav .header-section ul .hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
  .circle {
    width: 25px !important;
    height: 25px !important;
  }
  .circle i {
    font-size: 13px !important;
  }
  .icons {
    gap: 10px !important;
  }
  ul {
    gap: 30px !important;
  }
}
footer {
  /*START NEWSLETTER CSS*/
  /*END NEWSLETTER CSS*/
  /*START SOCIAL PROFILE CSS*/
  /*END SOCIAL PROFILE CSS*/
}
footer a,
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: none;
  outline: none;
}
footer a,
footer a:active,
footer a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer img {
  max-width: 100%;
  height: auto;
}
footer section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
footer .footer {
  margin-top: 20px;
  background: rgba(149, 206, 208, 0.897);
  padding-top: 80px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  footer .single_footer {
    margin-bottom: 30px;
  }
}
footer .single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
footer .single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}
footer .single_footer p {
  color: #fff;
}
footer .single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .single_footer ul li a {
  color: #fff;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
footer .single_footer ul li a:hover {
  color: #ff3666;
}
footer .single_footer_address ul li {
  color: #fff;
}
footer .single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
footer .contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
footer .subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
footer .subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer .subscribe__input {
    padding: 0 50px 0 20px;
  }
}
footer .subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
footer .subscribe__btn i {
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 768px) {
  footer .subscribe__btn {
    right: 0px;
  }
}
footer .subscribe__btn:hover i {
  color: #ff3666;
}
footer button {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
}
footer .social_profile {
  margin-top: 40px;
}
footer .social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
footer .social_profile ul li {
  float: left;
}
footer .social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  footer .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  footer .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
footer .social_profile ul li a:hover {
  background: #ff3666;
  border: 1px solid #ff3666;
  color: #fff;
  border: 0px;
}
footer .copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 830px) {
  nav {
    justify-content: center !important;
  }
  .circle-item {
    display: none !important;
  }
  ul {
    display: none !important;
  }
  div.bars {
    display: flex !important;
  }
}
* {
  border: 0.1px solid transparent;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main #slider {
  background-color: #f9f3f0;
}
main #slider .info-inner {
  min-height: 450px;
  max-height: 470px;
  overflow: hidden;
  padding-top: 6%;
  padding-left: 30%;
}
main #slider .info-inner .info {
  width: 100%;
}
main #slider .info-inner .info i,
main #slider .info-inner .info span {
  color: #ff497c;
  margin-left: 10px;
  font-size: 18px;
}
main #slider .info-inner .info span {
  font-weight: 500;
}
main #slider .info-inner .title-slider h1 {
  font-size: 50px;
}
main #slider .info-inner .shop-btn {
  padding-left: 8%;
}
main #slider .info-inner .shop-btn .btn-white {
  padding: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease-in-out;
}
main #slider .info-inner .shop-btn .btn-white i {
  margin-right: 20px;
}
main #slider .info-inner .shop-btn .btn-white span {
  font-weight: 500;
}
main #slider .info-inner .shop-btn .btn-white:hover {
  transform: scale(1.1);
}
main #slider .info-inner div {
  margin-top: 30px;
}
main #slider .slide-image {
  overflow: hidden;
  position: relative;
  display: flex;
}
main #slider .slide-image .inner-slide:nth-child(1) {
  width: 60%;
}
main #slider .slide-image .inner-slide:nth-child(2) {
  width: 40%;
}
main #slider .slide-image .inner-slide:nth-child(1) {
  position: relative;
  height: 450px;
  width: 100%;
}
main #slider .slide-image .inner-slide:nth-child(1) img {
  position: absolute;
}
main #slider .slide-image .inner-slide:nth-child(1) img:first-child {
  width: 60%;
  height: 130%;
}
main #slider .slide-image .inner-slide:nth-child(1) img:nth-child(3) {
  right: 2%;
  width: 30%;
  height: 100%;
}
main #slider .first-slider-img img:nth-child(4) {
  right: 3%;
  bottom: 10%;
  width: 45%;
  height: 45%;
}
main #slider .first-slider-img img:nth-child(2) {
  left: 2%;
  top: 10%;
  width: 65%;
  height: 85%;
}
main #slider .second-slider-img .inner-slide img:nth-child(4) {
  right: 5%;
  bottom: 10%;
  width: 35%;
  height: 47%;
}
main #slider .second-slider-img .inner-slide img:nth-child(2) {
  left: -5%;
  top: 10%;
  width: 70%;
  height: 75%;
}
main #category-products {
  padding: 3%;
}
main #category-products .section-title {
  padding-left: 5%;
  margin-bottom: 3%;
}
main #category-products .section-title i,
main #category-products .section-title span {
  margin-left: 6px;
  color: #8c71db;
  font-size: 18px;
}
main #category-products .section-title span {
  font-weight: 500;
}
main #category-products .custom-container {
  margin-bottom: 30px;
}
main #category-products .custom-container .items div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}
main #category-products .custom-container .items div img {
  transition: 0.5s;
  width: 45%;
  height: 50%;
}
main #category-products .custom-container .items div img:hover {
  transform: scale(1.1);
}
main #category-products .products-main .show-more {
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
main #category-products .products-main .show-more:hover {
  transform: scale(1.1);
}
main #category-products .products-main div div {
  margin-bottom: 10px;
}
main #category-products .products-main div div .card-inner {
  border-radius: 23px;
  overflow: hidden;
  height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;
}
main #category-products .products-main div div .card-inner:hover div {
  overflow: hidden;
}
main #category-products .products-main div div .card-inner:hover div img {
  transform: scale(1.1);
}
main #category-products .products-main div div .card-inner div {
  height: 65%;
  margin-bottom: 20px;
}
main #category-products .products-main div div .card-inner div img {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
main #category-products .products-main div div .card-inner .prod-desc p,
main #category-products .products-main div div .card-inner .prod-desc span {
  margin-left: 20px;
}
main #category-products .products-main div div .card-inner .prod-desc p {
  font-size: 20px;
  color: gray;
  margin-bottom: 2px;
}
main #category-products .products-main div div .card-inner .prod-desc span {
  font-weight: 500;
  font-size: 20px;
}
main #category-products .products-main div div .card-inner .prod-desc .price {
  color: green !important;
}
main #category-products .products-main div div .card-inner .prod-desc span del.old-price {
  color: rgb(164, 164, 164);
}
main #category-products .products-main div div .card-inner .prod-desc .buttons {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  margin-top: 5px;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(1) {
  background-color: #49b3ff;
  border: 0.1px solid #49b3ff;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(1):hover {
  background-color: white;
  color: #49b3ff;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(2) {
  background-color: #8c71db;
  border: 0.1px solid #8c71db;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(2):hover {
  background-color: white;
  color: #8c71db;
}
main #category-products .products-main div div .card-inner .prod-desc button:nth-child(3) {
  background-color: #ff497c;
  border: 0.1px solid #ff497c;
}
main #category-products .products-main div div .card-inner .prod-desc button:nth-child(3):hover {
  background-color: white;
  color: #ff497c;
}
main #category-products .products-main div div .card-inner button {
  padding: 10px 15px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
main #category-products .products-main div div .card-inner button:focus {
  outline: none;
}
main #headphone-poster .headphone-inner {
  position: relative;
}
main #headphone-poster .headphone-inner .headphone-bg {
  background-color: #f6f7fb;
  min-height: 300px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp {
  padding: 60px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp .minutes {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 17px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp .minutes div.minutes-inner {
  background-color: white;
  width: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp .minutes div.minutes-inner p:nth-child(1) {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 500;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp h2 {
  font-size: 50px;
  font-weight: 600;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp p i,
main #headphone-poster .headphone-inner .headphone-bg .text-hdp p span {
  color: #ff497c;
  font-size: 18px;
  margin-left: 10px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp p span {
  font-weight: 500;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp {
  position: relative;
  height: 100%;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp img {
  width: 73%;
  height: 100%;
  position: absolute;
  right: 20%;
  bottom: 25%;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals-main {
  overflow: hidden;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals {
  width: 60%;
  height: 70%;
  transform: rotate(30deg);
  position: absolute;
  top: 35%;
  right: 6%;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals div {
  border-radius: 50%;
  border-left: 2px solid #49b3ff;
  transition: 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: signalChanger;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 {
  width: 40%;
  height: 45%;
  animation-delay: 1.8s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 {
  width: 80%;
  height: 80%;
  animation-delay: 1.6s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 .signal3 {
  width: 80%;
  height: 80%;
  animation-delay: 1.4s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 .signal3 .signal4 {
  width: 80%;
  height: 80%;
  animation-delay: 1.2s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 .signal3 .signal4 .signal5 {
  width: 80%;
  height: 80%;
  animation-delay: 1s;
}
main #testimonials .testimonials-bg {
  overflow: hidden;
  background-color: #f9f3f0;
  min-height: 400px;
  padding: 5%;
}
main #testimonials .testimonials-bg .option {
  background-color: white;
  padding: 15px;
  text-align: start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main #testimonials .testimonials-bg div p {
  margin-bottom: 0;
}
main #testimonials .testimonials-bg div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
main #testimonials .testimonials-bg div p.profession:nth-child(1) {
  color: gray;
  font-size: 13px;
}
main #testimonials .testimonials-bg div p:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
main #why-us .header-why-us {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main #why-us .card-why-us {
  margin-top: 20px;
  display: flex;
  gap: 5%;
  min-height: 140px;
}
main #why-us .card-why-us div {
  width: 19%;
  border: 0.1px solid rgba(128, 128, 128, 0.798);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px;
  height: 220px;
  overflow: hidden;
  gap: 12px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
main #why-us .card-why-us div:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main #why-us .card-why-us div img {
  max-width: 100%;
}
main #why-us .card-why-us div span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
main .parallax-inner {
  background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/preview/banner-mockup.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 29, 91, 0.822);
  height: 300px;
}

.title-of-section {
  padding-left: 8%;
}
.title-of-section i,
.title-of-section span {
  color: #ff497c;
  font-size: 18px;
  margin-right: 10px;
}
.title-of-section span {
  font-weight: 500;
}

.title-of-section + h2 {
  padding-left: 8%;
  font-size: 40px;
  font-weight: 500;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.category-btn.active {
  border: 1px solid #49b3ff !important;
}

.card-inner {
  border-radius: 23px;
  overflow: hidden;
  height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;
}
.card-inner:hover div {
  overflow: hidden;
}
.card-inner:hover div img {
  transform: scale(1.1);
}
.card-inner div {
  height: 65%;
  margin-bottom: 20px;
}
.card-inner div img {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.card-inner .prod-desc p,
.card-inner .prod-desc span {
  margin-left: 20px;
}
.card-inner .prod-desc p {
  font-size: 20px;
  color: gray;
  margin-bottom: 2px;
}
.card-inner .prod-desc span {
  font-weight: 500;
  font-size: 20px;
}
.card-inner .prod-desc .price {
  color: green !important;
}
.card-inner .prod-desc span del.old-price {
  color: rgb(164, 164, 164);
}
.card-inner .prod-desc .buttons {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  margin-top: 5px;
}
.card-inner .prod-desc .buttons button:nth-child(1) {
  background-color: #49b3ff;
  border: 0.1px solid #49b3ff;
}
.card-inner .prod-desc .buttons button:nth-child(1):hover {
  background-color: white;
  color: #49b3ff;
}
.card-inner .prod-desc .buttons button:nth-child(2) {
  background-color: #8c71db;
  border: 0.1px solid #8c71db;
}
.card-inner .prod-desc .buttons button:nth-child(2):hover {
  background-color: white;
  color: #8c71db;
}
.card-inner .prod-desc button:nth-child(3) {
  background-color: #ff497c;
  border: 0.1px solid #ff497c;
}
.card-inner .prod-desc button:nth-child(3):hover {
  background-color: white;
  color: #ff497c;
}
.card-inner button {
  padding: 10px 15px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.card-inner button:focus {
  outline: none;
}

.prod-slide-item .items > div {
  border: none;
}
.prod-slide-item .card-inner {
  height: 450px;
  box-shadow: none;
}

.sold-des {
  margin-left: 20px;
}
.sold-des p {
  margin-bottom: 0;
  text-align: start;
}

@keyframes signalChanger {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .hadphones-cols {
    display: none !important;
  }
  .minutes-inner {
    width: 60%;
    height: 100%;
  }
  .minutes-inner p {
    font-size: 15px;
  }
  .testimonials-bg div p.profession:nth-child(1) {
    font-size: 17px !important;
  }
  .testimonials-bg div p:nth-child(2) {
    font-size: 30px !important;
  }
}
.btn-custom {
  padding: 10px;
  color: white;
  border-radius: 7px;
}

.btn-basket {
  background-color: #49b3ff;
  border: 0.1px solid #49b3ff;
}
.btn-basket:hover {
  background-color: white;
  color: #49b3ff;
}

.btn-wishlist {
  background-color: #8c71db;
  border: 0.1px solid #8c71db;
}
.btn-wishlist:hover {
  background-color: white;
  color: #8c71db;
}

.btn-detail {
  background-color: #ff497c;
  border: 0.1px solid #ff497c;
}
.btn-detail:hover {
  background-color: white;
  color: #ff497c;
}

.newsletter {
  background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
  height: 300px;
  border-radius: 10px;
}
.newsletter .box-news {
  padding: 5%;
}
.newsletter .box-news input {
  padding: 10px 25px;
  height: 50px;
  border-radius: 7px;
  margin-right: 1%;
  outline: none;
  width: 33%;
}
.newsletter .box-news h2 {
  margin-bottom: 3%;
}
.newsletter .box-news .btn {
  border-radius: 7px;
  height: 50px;
}

.pad-2 {
  background-color: #f9f3f0 !important;
  margin-bottom: 0 !important;
}

#blog-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f3f0 !important;
  padding-bottom: 5% !important;
}

header {
  width: 100%;
  width: 100%;
  box-shadow: none !important;
  background: none !important;
  margin-bottom: 4%;
}

footer {
  margin-top: 0;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.parent-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-of-section, h2 {
  padding-left: 0 !important;
}

.content a:hover, .pagination a:hover {
  color: rgb(191, 191, 191) !important;
}

.parent-title {
  background-color: #f9f3f0;
  padding-bottom: 5%;
  padding-top: 2%;
}/*# sourceMappingURL=main.css.map */