@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 73, 125, 0.5803921569);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30%;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.overlay-content a {
  display: block;
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
.overlay-content a:hover {
  transform: scale(1.2);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.area {
  background-color: #f9f3f0;
  height: 40px;
}

.pad-2 {
  background-color: #f9f3f0;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 16;
  top: 5px;
}
header nav {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  width: 80%;
}
header nav .header-section {
  display: flex;
  align-items: center;
}
header nav .header-section .icons {
  display: flex;
  gap: 15px;
}
header nav .header-section .icons div.bars {
  display: none;
}
header nav .header-section .icons .circle {
  background-color: #49b3ff;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  align-items: center;
}
header nav .header-section .icons .circle i {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
header nav .header-section .icons .circle:hover {
  transform: scale(1.2);
}
header nav .header-section ul {
  margin-bottom: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
header nav .header-section ul li {
  list-style: none;
}
header nav .header-section ul li a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
header nav .header-section ul .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}
header nav .header-section ul .hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header nav .header-section ul .hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
  .circle {
    width: 25px !important;
    height: 25px !important;
  }
  .circle i {
    font-size: 13px !important;
  }
  .icons {
    gap: 10px !important;
  }
  ul {
    gap: 30px !important;
  }
}
footer {
  /*START NEWSLETTER CSS*/
  /*END NEWSLETTER CSS*/
  /*START SOCIAL PROFILE CSS*/
  /*END SOCIAL PROFILE CSS*/
}
footer a,
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: none;
  outline: none;
}
footer a,
footer a:active,
footer a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer img {
  max-width: 100%;
  height: auto;
}
footer section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
footer .footer {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8431372549);
  padding-top: 80px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  footer .single_footer {
    margin-bottom: 30px;
  }
}
footer .single_footer h4 {
  color: black;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
footer .single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}
footer .single_footer p {
  color: #fff;
}
footer .single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .single_footer ul li a {
  color: #fff;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
footer .single_footer ul li a:hover {
  color: #ff3666;
}
footer .single_footer_address ul li {
  color: #fff;
}
footer .single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
footer .contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
footer .subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
footer .subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer .subscribe__input {
    padding: 0 50px 0 20px;
  }
}
footer .subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
footer .subscribe__btn i {
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 768px) {
  footer .subscribe__btn {
    right: 0px;
  }
}
footer .subscribe__btn:hover i {
  color: #ff3666;
}
footer button {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
}
footer .social_profile {
  margin-top: 40px;
}
footer .social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
footer .social_profile ul li {
  float: left;
}
footer .social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  footer .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  footer .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
footer .social_profile ul li a:hover {
  background: #ff3666;
  border: 1px solid #ff3666;
  color: #fff;
  border: 0px;
}
footer .copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 830px) {
  nav {
    justify-content: center !important;
  }
  .circle-item {
    display: none !important;
  }
  ul {
    display: none !important;
  }
  div.bars {
    display: flex !important;
  }
}
* {
  border: 0.1px solid transparent;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main #slider {
  background-color: #f9f3f0;
}
main #slider .info-inner {
  min-height: 450px;
  max-height: 470px;
  overflow: hidden;
  padding-top: 6%;
  padding-left: 30%;
}
main #slider .info-inner .info {
  width: 100%;
}
main #slider .info-inner .info i,
main #slider .info-inner .info span {
  color: #ff497c;
  margin-left: 10px;
  font-size: 18px;
}
main #slider .info-inner .info span {
  font-weight: 500;
}
main #slider .info-inner .title-slider h1 {
  font-size: 50px;
}
main #slider .info-inner .shop-btn {
  padding-left: 8%;
}
main #slider .info-inner .shop-btn .btn-white {
  padding: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease-in-out;
}
main #slider .info-inner .shop-btn .btn-white i {
  margin-right: 20px;
}
main #slider .info-inner .shop-btn .btn-white span {
  font-weight: 500;
}
main #slider .info-inner .shop-btn .btn-white:hover {
  transform: scale(1.1);
}
main #slider .info-inner div {
  margin-top: 30px;
}
main #slider .slide-image {
  overflow: hidden;
  position: relative;
  display: flex;
}
main #slider .slide-image .inner-slide:nth-child(1) {
  width: 60%;
}
main #slider .slide-image .inner-slide:nth-child(2) {
  width: 40%;
}
main #slider .slide-image .inner-slide:nth-child(1) {
  position: relative;
  height: 450px;
  width: 100%;
}
main #slider .slide-image .inner-slide:nth-child(1) img {
  position: absolute;
}
main #slider .slide-image .inner-slide:nth-child(1) img:first-child {
  width: 60%;
  height: 130%;
}
main #slider .slide-image .inner-slide:nth-child(1) img:nth-child(3) {
  right: 2%;
  width: 30%;
  height: 100%;
}
main #slider .first-slider-img img:nth-child(4) {
  right: 3%;
  bottom: 10%;
  width: 45%;
  height: 45%;
}
main #slider .first-slider-img img:nth-child(2) {
  left: 2%;
  top: 10%;
  width: 65%;
  height: 85%;
}
main #slider .second-slider-img .inner-slide img:nth-child(4) {
  right: 5%;
  bottom: 10%;
  width: 35%;
  height: 47%;
}
main #slider .second-slider-img .inner-slide img:nth-child(2) {
  left: -5%;
  top: 10%;
  width: 70%;
  height: 75%;
}
main #category-products {
  padding: 3%;
}
main #category-products .section-title {
  padding-left: 5%;
  margin-bottom: 3%;
}
main #category-products .section-title i,
main #category-products .section-title span {
  margin-left: 6px;
  color: #8c71db;
  font-size: 18px;
}
main #category-products .section-title span {
  font-weight: 500;
}
main #category-products .custom-container {
  margin-bottom: 30px;
}
main #category-products .custom-container .items div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}
main #category-products .custom-container .items div img {
  transition: 0.5s;
  width: 45%;
  height: 50%;
}
main #category-products .custom-container .items div img:hover {
  transform: scale(1.1);
}
main #category-products .products-main .show-more {
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
main #category-products .products-main .show-more:hover {
  transform: scale(1.1);
}
main #category-products .products-main div div {
  margin-bottom: 10px;
}
main #category-products .products-main div div .card-inner {
  border-radius: 23px;
  overflow: hidden;
  height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;
}
main #category-products .products-main div div .card-inner:hover div {
  overflow: hidden;
}
main #category-products .products-main div div .card-inner:hover div img {
  transform: scale(1.1);
}
main #category-products .products-main div div .card-inner div {
  height: 65%;
  margin-bottom: 20px;
}
main #category-products .products-main div div .card-inner div img {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
main #category-products .products-main div div .card-inner .prod-desc p,
main #category-products .products-main div div .card-inner .prod-desc span {
  margin-left: 20px;
}
main #category-products .products-main div div .card-inner .prod-desc p {
  font-size: 20px;
  color: gray;
  margin-bottom: 2px;
}
main #category-products .products-main div div .card-inner .prod-desc span {
  font-weight: 500;
  font-size: 20px;
}
main #category-products .products-main div div .card-inner .prod-desc .price {
  color: green !important;
}
main #category-products .products-main div div .card-inner .prod-desc span del.old-price {
  color: rgb(164, 164, 164);
}
main #category-products .products-main div div .card-inner .prod-desc .buttons {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  margin-top: 5px;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(1) {
  background-color: #49b3ff;
  border: 0.1px solid #49b3ff;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(1):hover {
  background-color: white;
  color: #49b3ff;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(2) {
  background-color: #8c71db;
  border: 0.1px solid #8c71db;
}
main #category-products .products-main div div .card-inner .prod-desc .buttons button:nth-child(2):hover {
  background-color: white;
  color: #8c71db;
}
main #category-products .products-main div div .card-inner .prod-desc .detail-btn {
  background-color: #ff497c;
  border: 0.1px solid #ff497c;
}
main #category-products .products-main div div .card-inner .prod-desc .detail-btn:hover {
  background-color: white;
  color: #ff497c;
}
main #category-products .products-main div div .card-inner button, main #category-products .products-main div div .card-inner .detail-btn {
  color: white !important;
  padding: 10px 15px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
main #category-products .products-main div div .card-inner button:focus, main #category-products .products-main div div .card-inner .detail-btn:focus {
  outline: none;
}
main #headphone-poster .headphone-inner {
  position: relative;
}
main #headphone-poster .headphone-inner .headphone-bg {
  background-color: #f6f7fb;
  min-height: 300px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp {
  padding: 60px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp .minutes {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 17px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp .minutes div.minutes-inner {
  background-color: white;
  width: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp .minutes div.minutes-inner p:nth-child(1) {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 500;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp h2 {
  font-size: 50px;
  font-weight: 600;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp p i,
main #headphone-poster .headphone-inner .headphone-bg .text-hdp p span {
  color: #ff497c;
  font-size: 18px;
  margin-left: 10px;
}
main #headphone-poster .headphone-inner .headphone-bg .text-hdp p span {
  font-weight: 500;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp {
  position: relative;
  height: 100%;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp img {
  width: 73%;
  height: 100%;
  position: absolute;
  right: 20%;
  bottom: 25%;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals-main {
  overflow: hidden;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals {
  width: 60%;
  height: 70%;
  transform: rotate(30deg);
  position: absolute;
  top: 35%;
  right: 6%;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals div {
  border-radius: 50%;
  border-left: 2px solid #49b3ff;
  transition: 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: signalChanger;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 {
  width: 40%;
  height: 45%;
  animation-delay: 1.8s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 {
  width: 80%;
  height: 80%;
  animation-delay: 1.6s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 .signal3 {
  width: 80%;
  height: 80%;
  animation-delay: 1.4s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 .signal3 .signal4 {
  width: 80%;
  height: 80%;
  animation-delay: 1.2s;
}
main #headphone-poster .headphone-inner .headphone-bg .poster-hdp .signals .signal1 .signal2 .signal3 .signal4 .signal5 {
  width: 80%;
  height: 80%;
  animation-delay: 1s;
}
main #testimonials .testimonials-bg {
  overflow: hidden;
  background-color: #f9f3f0;
  min-height: 400px;
  padding: 5%;
}
main #testimonials .testimonials-bg .option {
  background-color: white;
  padding: 15px;
  text-align: start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main #testimonials .testimonials-bg div p {
  margin-bottom: 0;
}
main #testimonials .testimonials-bg div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
main #testimonials .testimonials-bg div p.profession:nth-child(1) {
  color: gray;
  font-size: 13px;
}
main #testimonials .testimonials-bg div p:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
main #why-us .header-why-us {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main #why-us .card-why-us {
  margin-top: 20px;
  display: flex;
  gap: 5%;
  min-height: 140px;
}
main #why-us .card-why-us div {
  width: 19%;
  border: 0.1px solid rgba(128, 128, 128, 0.798);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px;
  height: 220px;
  overflow: hidden;
  gap: 12px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
main #why-us .card-why-us div:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main #why-us .card-why-us div img {
  max-width: 100%;
}
main #why-us .card-why-us div span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
main .parallax-inner {
  background-image: url(https://t3.ftcdn.net/jpg/01/14/47/12/360_F_114471291_nbYCT471AB0Ck6Wingz7YVCRFlUhdUvG.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 29, 91, 0.822);
  height: 300px;
}

.title-of-section {
  padding-left: 8%;
}
.title-of-section i,
.title-of-section span {
  color: #ff497c;
  font-size: 18px;
  margin-right: 10px;
}
.title-of-section span {
  font-weight: 500;
}

.title-of-section + h2 {
  padding-left: 8%;
  font-size: 40px;
  font-weight: 500;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.category-btn.active {
  border: 1px solid #49b3ff !important;
}

.card-inner {
  border-radius: 23px;
  overflow: hidden;
  height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;
}
.card-inner:hover div {
  overflow: hidden;
}
.card-inner:hover div img {
  transform: scale(1.1);
}
.card-inner div {
  height: 65%;
  margin-bottom: 20px;
}
.card-inner div img {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.card-inner .prod-desc p,
.card-inner .prod-desc span {
  margin-left: 20px;
}
.card-inner .prod-desc p {
  font-size: 20px;
  color: gray;
  margin-bottom: 2px;
}
.card-inner .prod-desc span {
  font-weight: 500;
  font-size: 20px;
}
.card-inner .prod-desc .price {
  color: green !important;
}
.card-inner .prod-desc span del.old-price {
  color: rgb(164, 164, 164);
}
.card-inner .prod-desc .buttons {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  margin-top: 5px;
}
.card-inner .prod-desc .buttons button:nth-child(1) {
  background-color: #49b3ff;
  border: 0.1px solid #49b3ff;
}
.card-inner .prod-desc .buttons button:nth-child(1):hover {
  background-color: white;
  color: #49b3ff;
}
.card-inner .prod-desc .buttons button:nth-child(2) {
  background-color: #8c71db;
  border: 0.1px solid #8c71db;
}
.card-inner .prod-desc .buttons button:nth-child(2):hover {
  background-color: white;
  color: #8c71db;
}
.card-inner .prod-desc button:nth-child(3) {
  background-color: #ff497c;
  border: 0.1px solid #ff497c;
}
.card-inner .prod-desc button:nth-child(3):hover {
  background-color: white;
  color: #ff497c;
}
.card-inner button {
  padding: 10px 15px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.card-inner button:focus {
  outline: none;
}

.prod-slide-item .items > div {
  border: none;
}
.prod-slide-item .card-inner {
  height: 450px;
  box-shadow: none;
}

.sold-des {
  margin-left: 20px;
}
.sold-des p {
  margin-bottom: 0;
  text-align: start;
}

@keyframes signalChanger {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .hadphones-cols {
    display: none !important;
  }
  .minutes-inner {
    width: 60%;
    height: 100%;
  }
  .minutes-inner p {
    font-size: 15px;
  }
  .testimonials-bg div p.profession:nth-child(1) {
    font-size: 17px !important;
  }
  .testimonials-bg div p:nth-child(2) {
    font-size: 30px !important;
  }
}
.btn-custom {
  padding: 10px;
  color: white;
  border-radius: 7px;
}

.btn-basket {
  background-color: #49b3ff;
  border: 0.1px solid #49b3ff;
}
.btn-basket:hover {
  background-color: white;
  color: #49b3ff;
}

.btn-wishlist {
  background-color: #8c71db;
  border: 0.1px solid #8c71db;
}
.btn-wishlist:hover {
  background-color: white;
  color: #8c71db;
}

.btn-detail {
  background-color: #ff497c;
  border: 0.1px solid #ff497c;
}
.btn-detail:hover {
  background-color: white;
  color: #ff497c;
}

.newsletter {
  background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
  height: 300px;
  border-radius: 10px;
}
.newsletter .box-news {
  padding: 5%;
}
.newsletter .box-news input {
  padding: 10px 25px;
  height: 50px;
  border-radius: 7px;
  margin-right: 1%;
  outline: none;
  width: 33%;
}
.newsletter .box-news h2 {
  margin-bottom: 3%;
}
.newsletter .box-news .btn {
  border-radius: 7px;
  height: 50px;
}

.pad-2 {
  background-color: #f9f3f0 !important;
  margin-bottom: 0 !important;
}

.blog--classic .blog-meta ul,
.blog--two .blog-meta ul,
.blog-author {
  display: flex;
  flex-wrap: wrap;
}

.blog--classic .blog-thumb,
.custom-upload {
  position: relative;
}

.mrcart,
.search {
  position: fixed;
}

.blog--classic .blog-thumb .date,
.custom-upload input[type=file] {
  position: absolute;
  content: "";
}

.blog--two .blog-thumb,
.blog-author .thumb,
.blog-thumb,
.blog--two .blog-content h5 a,
.product--four .product-content h6 a {
  overflow: hidden;
}

.blog--two .blog-thumb a img,
.blog-author .thumb img,
.blog-thumb a img {
  width: 100%;
}

.blog-author .thumb img,
.map iframe {
  height: 100%;
}

.blog--classic .blog-meta ul li a,
.blog--classic .blog-content h4,
.blog--two .blog-content h5 a,
.blog-content a h5,
.lab-btn {
  font-weight: 600;
}

.blog-author .text h6,
.about--two .about-content h6,
.section-header h6 {
  font-weight: 500;
}

.shop-link,
.testimonial--two .testimonial-pagination span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog--two .blog-meta ul,
.testimonial--two .tags-section {
  justify-content: space-between;
}

.singlecontent .countadd {
  justify-content: flex-start;
}

#blog-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f3f0 !important;
  padding-bottom: 5% !important;
}

header {
  width: 100%;
  width: 100%;
  box-shadow: none !important;
  background: none !important;
  margin-bottom: 4%;
}

footer {
  margin-top: 0;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.parent-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-of-section, h2 {
  padding-left: 0 !important;
}

.content a:hover, .pagination a:hover {
  color: rgb(191, 191, 191) !important;
}

.parent-title {
  background-color: #f9f3f0;
  padding-bottom: 5%;
  padding-top: 2%;
}

#sort {
  padding: 0 3%;
}
#sort select {
  height: 60px;
  font-size: 13px;
}

.col-6 .row {
  justify-content: end !important;
}

.testimonial-area {
  background-color: white !important;
  border: 3px solid #49b3ff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.team-social a {
  color: white !important;
}

.date-b {
  box-shadow: none !important;
}

button.text-white {
  z-index: 0 !important;
}

#conatct-with-us section.contact-us #contact {
  position: relative;
  display: block;
  width: 380px;
  height: auto;
  background-color: #fff;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
#conatct-with-us .contact-us .row {
  flex-wrap: wrap;
}
#conatct-with-us .contact-us .row .form-img {
  height: 645px !important;
}
#conatct-with-us .contact-us .row .form-img img {
  max-height: 100% !important;
  width: 100%;
}
#conatct-with-us .contact-us .row .form-contact {
  display: flex;
  justify-content: center;
}
#conatct-with-us section.contact-us .section-heading {
  position: relative;
  display: block;
  margin: auto;
}
#conatct-with-us .section-heading h4 {
  line-height: 40px;
  font-size: 28px;
  font-weight: 900;
  color: #dc8cdb;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#conatct-with-us input, #conatct-with-us textarea {
  width: 350px;
  position: relative;
  display: block;
  background-color: #f4f7fb;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #9e9e9e;
}
#conatct-with-us input {
  height: 40px;
  padding: 0px 15px;
}
#conatct-with-us textarea {
  min-height: 140px;
  max-height: 180px;
  padding: 15px;
  resize: none;
}
#conatct-with-us .contact-us span {
  height: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}
#conatct-with-us .valid_info_name, #conatct-with-us .valid_info_email, #conatct-with-us .valid_info_message {
  display: inline-block;
  font-size: 13px;
  margin: 5px 2px;
}
#conatct-with-us .valid {
  border: 2px solid green;
  outline-color: green;
}
#conatct-with-us .invalid {
  border: 2px solid red;
  outline-color: red;
}
#conatct-with-us .btn {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}
#conatct-with-us #form-submit {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: rgb(219, 138, 222);
  background: linear-gradient(-145deg, rgb(219, 138, 222) 0%, rgb(246, 191, 159) 100%);
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  transition: all 0.3s;
}
#conatct-with-us #form-submit:disabled {
  border: 1px solid #9e9e9e;
  background: transparent;
  color: #9e9e9e;
  transition: none;
  transform: none;
  cursor: default;
}
#conatct-with-us #form-submit:hover:disabled {
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  background: transparent;
  transition: none;
  transform: none;
  cursor: default;
}
#conatct-with-us button:active {
  transform: scale(0.95);
}
#conatct-with-us button:focus, #conatct-with-us button:active {
  border: none;
}
#conatct-with-us button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.newsletter button {
  width: 20% !important;
}
.newsletter input {
  display: inline !important;
}

#login-page .login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* custom Checkbox */
}
#login-page .login-form .login-form-box {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 30px 30px 30px;
  width: 600px;
  border-radius: 5px;
}
#login-page .login-form .login-form-header {
  margin-bottom: 40px;
}
#login-page .login-form .login-form-header h2 {
  font-size: 26px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#login-page .login-form .login-form-header p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0;
}
#login-page .login-form .login-form-header p a {
  text-decoration: none;
  color: #0e74bd;
}
#login-page .login-form .input-item {
  margin-bottom: 20px;
}
#login-page .login-form .input-item input {
  width: calc(100% - 30px);
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #787878;
}
#login-page .login-form button {
  margin-top: 5px;
  background-color: #0e74bd;
  border: none;
  color: #fff;
  padding: 12px 40px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
#login-page .login-form .btn {
  width: 100% !important;
}
#login-page .login-form .remember-pass {
  display: block;
  margin-bottom: 15px;
}
#login-page .login-form .remember-pass input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
#login-page .login-form .remember-pass label {
  position: relative;
  cursor: pointer;
}
#login-page .login-form .remember-pass label:before {
  content: "";
  background-color: transparent;
  border: 2px solid #0e74bd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
#login-page .login-form .remember-pass label {
  font-family: Arial, Helvetica, sans-serif;
}
#login-page .login-form .remember-pass input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #0e74bd;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.basket-icon {
  position: relative;
}
.basket-icon .count-card {
  position: absolute;
  right: 1%;
  top: 1%;
  color: white;
  background-color: rgb(206, 3, 3);
  display: flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#category-products {
  background-color: #f9f3f0;
}

.card-main #caption-photo .back-part {
  background-image: url("../../../assets/imgs/Cart/header-bgImg.jpeg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 45px 0px;
}
.card-main #caption-photo .back-part .container h1 {
  font-weight: 400;
  letter-spacing: 3px;
}
.card-main #caption-photo .back-part .container p {
  font-weight: 300;
  font-size: 20px;
  color: #49b3ff;
}
.card-main #links {
  border-bottom: 1px solid #ededed;
}
.card-main #links .container .all-links {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card-main #links .container .all-links a {
  text-decoration: none;
  color: #7d7d7d;
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 300;
}
.card-main #links .container .all-links a:hover {
  color: #49b3ff;
}
.card-main #links .container .all-links i {
  font-size: 12px;
  color: #7d7d7d;
  padding-left: 10px;
  padding-right: 10px;
}
.card-main #links .container .all-links span {
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}
.card-main #cart-part {
  border-bottom: 1px solid #ededed;
}
.card-main #cart-part .all .deactive-shop {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-main #cart-part .all .deactive-shop i {
  font-size: 100px;
  color: #868686;
}
.card-main #cart-part .all .deactive-shop span {
  font-weight: 200;
  color: #616161;
  padding-top: 25px;
  padding-bottom: 35px;
}
.card-main #cart-part .all .deactive-shop button {
  transition: all 0.5s;
  background-color: #49b3ff;
  border: none;
  padding: 10px 30px;
}
.card-main #cart-part .all .deactive-shop button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.card-main #cart-part .all .deactive-shop button:hover {
  background-color: #bf913e;
}
.card-main #product-table {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 80px;
}
.card-main #product-table .all .products .left .table-part .table thead tr th {
  padding-left: 20px;
  color: #c5c5c5;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr td {
  position: relative;
  padding-top: 40px;
  padding-bottom: 35px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr td img {
  width: 60px;
  height: 60px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity {
  display: flex;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity .minus {
  position: relative;
  left: 20px;
  z-index: 2;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity input {
  position: relative;
  outline: none;
  width: 100px !important;
  height: 42px !important;
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity input::-webkit-outer-spin-button,
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity .plus {
  position: relative;
  right: 20px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 42px;
  transition: all 0.5s;
  color: #c6c6c6;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .quantity i:hover {
  cursor: pointer;
  color: #49b3ff;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .image {
  padding-top: 20px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .name {
  cursor: pointer;
  transition: all 0.5s;
  padding-top: 40px;
  font-size: 18px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .name:hover {
  color: #49b3ff;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .oneprice {
  padding-top: 40px;
  font-size: 18px;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .total {
  padding-top: 40px;
  font-size: 18px;
  color: #49b3ff;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .delete i {
  color: #cfcfcf;
  cursor: pointer;
  transition: all 0.5s;
}
.card-main #product-table .all .products .left .table-part .table tbody tr .delete i:hover {
  color: black;
}
.card-main #product-table .all .products .left .icons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.card-main #product-table .all .products .left .icons .left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card-main #product-table .all .products .left .icons .left-icon input {
  background-color: #fafafa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 110px;
  border: 1px solid #ebebeb;
  outline: none;
}
.card-main #product-table .all .products .left .icons .left-icon ::-moz-placeholder {
  font-size: 17px;
  color: #b5b5b5;
}
.card-main #product-table .all .products .left .icons .left-icon ::placeholder {
  font-size: 17px;
  color: #b5b5b5;
}
.card-main #product-table .all .products .left .icons .left-icon i {
  padding: 14px;
  color: #49b3ff;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid #49b3ff;
}
.card-main #product-table .all .products .left .icons .left-icon i:hover {
  background-color: #49b3ff;
  color: white;
}
.card-main #product-table .all .products .left .icons .right-icon a {
  font-size: 15px;
  transition: all 0.5s;
  border: 1px solid #d7d7d7;
  background-color: white;
  padding: 14px 23px;
  text-decoration: none;
  color: #515151;
  text-transform: uppercase;
}
.card-main #product-table .all .products .left .icons .right-icon a i {
  padding-left: 15px;
}
.card-main #product-table .all .products .left .icons .right-icon a:hover {
  color: #49b3ff;
}
.card-main #product-table .all .products .right {
  background-color: #f9f9f9;
  border: 1px dashed #d7d7d7;
  padding: 30px 40px;
  width: 100%;
}
.card-main #product-table .all .products .right h4 {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 13px;
  border-bottom: 1px solid #cbcbcb;
}
.card-main #product-table .all .products .right .subtotal {
  font-size: 17px;
  padding-top: 10px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
.card-main #product-table .all .products .right .shipping {
  padding-top: 20px;
}
.card-main #product-table .all .products .right .shipping span {
  font-size: 17px;
  font-weight: 300;
}
.card-main #product-table .all .products .right .shipping .each-option {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 15px;
}
.card-main #product-table .all .products .right .shipping .each-option label {
  cursor: pointer;
  padding: 0;
}
.card-main #product-table .all .products .right .shipping .each-option label input {
  margin-right: 10px;
  accent-color: #49b3ff;
}
.card-main #product-table .all .products .right .shipping .option {
  padding-top: 20px;
}
.card-main #product-table .all .products .right .estimate {
  border-bottom: 1px solid #f1f1f1;
}
.card-main #product-table .all .products .right .estimate span {
  font-size: 17px;
  font-weight: 300;
}
.card-main #product-table .all .products .right .estimate p {
  display: inline-block;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 200;
  color: #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.5s;
}
.card-main #product-table .all .products .right .estimate p:hover {
  color: #49b3ff;
  border-bottom: 1px solid #49b3ff;
}
.card-main #product-table .all .products .right .total {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.card-main #product-table .all .products .right .total span {
  color: #49b3ff;
  font-weight: 300;
}
.card-main #product-table .all .products .right button {
  width: 100%;
  border: 1px solid #49b3ff;
  background-color: transparent;
  text-transform: uppercase;
  color: #49b3ff;
  font-weight: 300;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.card-main #product-table .all .products .right button:hover {
  color: white;
  background-color: #49b3ff;
}
.card-main #product-table .all .products .bottom {
  text-align: center;
  margin-top: 20px;
  border: 1px solid #d7d7d7;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card-main #product-table .all .products .bottom a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
}
.card-main #product-table .all .products .bottom a i {
  padding-left: 10px;
}
.card-main #product-table .all .products .bottom a:hover {
  color: #49b3ff;
}
.card-main #scrollBtn .btn {
  opacity: 0;
}
.card-main #scrollBtn .btn i {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 99;
  font-size: 30px;
  background-color: #fafafa;
  color: #999999;
  cursor: pointer;
  padding: 18px;
  transition: all 0.5s;
}
.card-main #scrollBtn .btn i:hover {
  background-color: #eaeaea;
}

.heart-icon {
  position: relative;
}
.heart-icon .wishlist-sup {
  position: absolute;
  right: 1%;
  top: 1%;
  color: white;
  background-color: rgb(206, 3, 3);
  display: flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.wishlist-main #product-table {
  border-bottom: 1px solid #ebebeb;
  padding-top: 60px;
  padding-bottom: 80px;
}
.wishlist-main #product-table .all .products .main .table-part .table thead tr th {
  padding-left: 20px;
  color: #c5c5c5;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr td {
  position: relative;
  padding-top: 40px;
  padding-bottom: 35px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr td img {
  width: 60px;
  height: 60px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr td .choose {
  width: 100%;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr td .choose a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  width: 100%;
  border: 1px solid #fcb941;
  background-color: transparent;
  text-transform: uppercase;
  color: #fcb941;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr td .choose a i {
  padding-right: 10px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr td .choose a:hover {
  color: white;
  background-color: #fcb941;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .image {
  padding-top: 20px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .name {
  cursor: pointer;
  transition: all 0.5s;
  padding-top: 40px;
  font-size: 18px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .name:hover {
  color: #fcb941;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .oneprice {
  color: #fcb941;
  padding-top: 40px;
  font-size: 18px;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .stock {
  padding-left: 20px;
  font-size: 18px;
  color: #fcb941;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .delete i {
  color: #cfcfcf;
  cursor: pointer;
  transition: all 0.5s;
}
.wishlist-main #product-table .all .products .main .table-part .table tbody tr .delete i:hover {
  color: black;
}
.wishlist-main #product-table .all .products .main .icons {
  padding-top: 30px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 10px;
}
.wishlist-main #product-table .all .products .main .icons span {
  font-weight: 300;
  color: #777777;
}
.wishlist-main #product-table .all .products .main .icons i {
  color: #999999;
  border: 1px solid #999999;
  padding: 8px 8px;
  border-radius: 50px;
  transition: all 0.2s;
  cursor: pointer;
}
.wishlist-main #product-table .all .products .main .icons i:hover {
  color: #fcb941;
  border-color: #fcb941;
}

#prod-detail {
  background-color: #f9f3f0;
  padding: 10% 5px;
}
#prod-detail .card {
  border: none;
  background-color: #f9f3f0;
}
#prod-detail .card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
#prod-detail img {
  width: 100%;
  display: block;
  height: 80%;
}
#prod-detail .img-display {
  overflow: hidden;
}
#prod-detail .img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
#prod-detail .img-showcase img {
  min-width: 100%;
}
#prod-detail .img-select {
  display: flex;
}
#prod-detail .img-item {
  margin: 0.3rem;
}
#prod-detail .img-item:nth-child(1),
#prod-detail .img-item:nth-child(2),
#prod-detail .img-item:nth-child(3) {
  margin-right: 0;
}
#prod-detail .img-item:hover {
  opacity: 0.8;
}
#prod-detail .product-content {
  padding: 2rem 1rem;
}
#prod-detail .product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
#prod-detail .product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
#prod-detail .product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
#prod-detail .product-link:hover {
  opacity: 0.9;
}
#prod-detail .product-rating {
  color: #ffc107;
}
#prod-detail .product-rating span {
  font-weight: 600;
  color: #252525;
}
#prod-detail .product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
#prod-detail .product-price span {
  font-weight: 400;
}
#prod-detail .last-price span {
  color: #f64749;
  text-decoration: line-through;
}
#prod-detail .new-price span {
  color: #256eff;
}
#prod-detail .product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
#prod-detail .product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
#prod-detail .product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
#prod-detail .product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
#prod-detail .product-detail ul li span {
  font-weight: 400;
}
#prod-detail .purchase-info {
  margin: 1.5rem 0;
}
#prod-detail .purchase-info input,
#prod-detail .purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
#prod-detail .purchase-info input {
  width: 60px;
}
#prod-detail .purchase-info .btn {
  cursor: pointer;
  color: #fff;
}
#prod-detail .purchase-info .btn:first-of-type {
  background: #256eff;
}
#prod-detail .purchase-info .btn:last-of-type {
  background: #f64749;
}
#prod-detail .purchase-info .btn:hover {
  opacity: 0.9;
}
#prod-detail .social-links {
  display: flex;
  align-items: center;
}
#prod-detail .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
#prod-detail .social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}
@media screen and (min-width: 992px) {
  #prod-detail .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  #prod-detail .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #prod-detail .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #prod-detail .product-content {
    padding-top: 0;
  }
}/*# sourceMappingURL=main.css.map */