.parent-title{
    background-color: $soft-pink-color;
    padding-bottom: 5%;
    padding-top: 2%;
}
#sort{
    padding: 0 5%;
    select{
        height: 60px;
    }
}
.col-6 .row{
   
   justify-content: end;
}