* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    //border: 1px solid red;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:$bars-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30%;
}

.overlay-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  a{
    display: block;
    color: $white-color;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
&:hover{
  transform: scale(1.2);
}
  }
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 20px;
  cursor: pointer;
  color: $white-color;
}

.area {
  background-color: $bg-slider-color;
  height: 40px;
}
.pad-2 {
  background-color: $bg-slider-color;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 3;
  top: 5px;
  nav {
    background-color: $white-color;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: $nav-shadow-color;
    width: 80%;
    .header-section {
      display: flex;
      align-items: center;
      .icons {
        display: flex;
        gap: 15px;
        div.bars {
          display: none;
        }
        .circle {
          background-color: $blue-color;
          cursor: pointer;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          transition: 0.5s;
          align-items: center;
          i {
            color: $white-color;
            font-size: 15px;
            cursor: pointer;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      ul {
        margin-bottom: 0;
        display: flex;
        gap: 40px;
        align-items: center;

        li {
          list-style: none;
          a {
            cursor: pointer;
            color: $black-color;
            text-decoration: none;
          }
        }
        .hover-underline-animation {
          display: inline-block;
          position: relative;
          color: $black-color;
        }

        .hover-underline-animation::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -3px;
          left: 0;
          background-color: $black-color;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        .hover-underline-animation:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
@media only screen and (min-width: 830px) and (max-width: 1000px) {
  .circle {
    width: 25px !important;
    height: 25px !important;
  }
  .circle i {
    font-size: 13px !important;
  }
  .icons {
    gap: 10px !important;
  }
  ul {
    gap: 30px !important;
  }
}
footer{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {}
  a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #333;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  img {
max-width: 100%;
height: auto;
}
  section {
      padding: 60px 0;
     /* min-height: 100vh;*/
  }
.footer {
  margin-top: 20px;
background: rgba(149, 206, 208, 0.897);
padding-top: 80px;
padding-bottom: 40px;
}

@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover { color: #ff3666; }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#ff3666;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ff3666;
border: 1px solid #ff3666;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}

}
@media only screen and (min-width: 300px) and (max-width: 830px) {
  nav {
    justify-content: center !important;
  }
  .circle-item {
    display: none !important;
  }

  ul {
    display: none !important;
  }
  div.bars {
    display: flex !important;
  }
}
