#blog-page{
    display: flex;
    justify-content: 
    center; 
    flex-direction: column;
     background-color: #f9f3f0 !important; 
     padding-bottom: 5% !important;
     }
     header{
         width: 100%; 
     width: 100%; box-shadow: none !important;
     background: none !important;
     margin-bottom: 4%;
    
   
 }
 footer{
     margin-top: 0;
 }
 a{
     text-decoration: none !important;
     color: black !important;
 }
 
     .parent-title{
        
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .title-of-section,h2{
         padding-left: 0 !important;
     }
   .content,.pagination {
    a{
        &:hover{
            color: rgb(191, 191, 191) !important;
        }
    }
   }