#blog-page{
   display: flex;
   justify-content: 
   center; 
   flex-direction: column;
    background-color: #f9f3f0 !important; 
    padding-bottom: 13% !important;
    header{
        width: 100%; 
    width: 100%; box-shadow: none;
    background: none;
    h1{
        margin-left: 5%;
        margin-top: 5%;
    }
  
}}
a{
    text-decoration: none !important;
    color: black !important;
}