$pink-color: #ff497c;
$bars-color:#00497d94;
$blue-color:#49b3ff;
$black-color:black;
$shadow-color:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$nav-shadow-color:0 2px 10px 0 rgba(0, 0, 0, 0.1);
$white-color:white;
$bg-slider-color:#f9f3f0;
$soft-purple-color:#8c71db