//#fe8366
.testimonial-area {
    background-color: white !important;
    border: 3px solid $blue-color ;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.team-social{
    a{
        color: white !important;
    }
}
.date-b{
    box-shadow: none !important;
}
button.text-white{
    z-index: 0 !important;
}