* {
  border: 0.1px solid transparent;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  #slider {
    background-color: $bg-slider-color;
    .info-inner {
      min-height: 450px;
      max-height: 470px;
      overflow: hidden;
      padding-top: 6%;
      padding-left: 30%;
      .info {
        width: 100%;

        i,
        span {
          color: $pink-color;
          margin-left: 10px;
          font-size: 18px;
        }
        span {
          font-weight: 500;
        }
      }
      .title-slider {
        h1 {
          font-size: 50px;
        }
      }
      .shop-btn {
        padding-left: 8%;
        .btn-white {
          padding: 20px;
          background-color: $white-color;
          box-shadow: $shadow-color;
          transition: 0.5s ease-in-out;
          i {
            margin-right: 20px;
          }
          span {
            font-weight: 500;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      div {
        margin-top: 30px;
      }
    }

    .slide-image {
      overflow: hidden;
      position: relative;
      display: flex;
      .inner-slide:nth-child(1) {
        width: 60%;
      }
      .inner-slide:nth-child(2) {
        width: 40%;
      }
      .inner-slide:nth-child(1) {
        position: relative;
        height: 450px;
        width: 100%;
        img {
          position: absolute;
        }
        img:first-child {
          width: 60%;
          height: 130%;
        }

        img:nth-child(3) {
          right: 2%;

          width: 30%;
          height: 100%;
        }
      }
    }
    .first-slider-img {
      img:nth-child(4) {
        right: 3%;
        bottom: 10%;
        width: 45%;
        height: 45%;
      }
      img:nth-child(2) {
        left: 2%;
        top: 10%;
        width: 65%;
        height: 85%;
      }
    }
    .second-slider-img {
      .inner-slide {
        img:nth-child(4) {
          right: 5%;
          bottom: 10%;
          width: 35%;
          height: 47%;
        }
        img:nth-child(2) {
          left: -5%;
          top: 10%;
          width: 70%;
          height: 75%;
        }
      }
    }
  }
  #category-products {
    padding: 3%;
    .section-title {
      padding-left: 5%;
      margin-bottom: 3%;
      i,
      span {
        margin-left: 6px;
        color: $soft-purple-color;
        font-size: 18px;
      }
      span {
        font-weight: 500;
      }
    }
    .custom-container {
      margin-bottom: 30px;
      .items {
        div {
          display: flex;

          flex-direction: column;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding-top: 10px;
          img {
            transition: 0.5s;
            width: 45%;
            height: 50%;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .products-main {
      .show-more {
        display: flex;
        justify-content: center;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
      div {
        div {
          margin-bottom: 10px;
          .card-inner {
            border-radius: 23px;
            overflow: hidden;
            height: 400px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;

            &:hover {
              div {
                overflow: hidden;
                img {
                  transform: scale(1.1);
                }
              }
            }
            div {
              height: 65%;
              img {
                transition: 0.5s;
                width: 100%;
                height: 100%;
              }
              margin-bottom: 20px;
            }
            .prod-desc {
              p,
              span {
                margin-left: 20px;
              }
              p {
                font-size: 20px;
                color: $gray-color;
                margin-bottom: 2px;
              }
              span {
                font-weight: 500;
                font-size: 20px;
              }
              .price {
                color: $green-color !important;
              }
              span {
                del.old-price {
                  color: $soft-gray-color;
                }
              }
              .buttons {
                height: fit-content;
                display: flex;
                justify-content: space-around;
                margin: 8px auto;
                margin-top: 5px;
                button:nth-child(1) {
                  background-color: $blue-color;
                  border: 0.1px solid $blue-color;
                  &:hover {
                    background-color: $white-color;

                    color: $blue-color;
                  }
                }
                button:nth-child(2) {
                  background-color: $soft-purple-color;
                  border: 0.1px solid $soft-purple-color;
                  &:hover {
                    background-color: $white-color;

                    color: $soft-purple-color;
                  }
                }
              }
              .detail-btn {
                background-color: $pink-color;
                border: 0.1px solid $pink-color;
                &:hover {
                  background-color: $white-color;

                  color: $pink-color;
                }
              }
            }
            button,.detail-btn {
              color: white !important;
              padding: 10px 15px;
              transition: 0.5s;
              cursor: pointer;
              color: $white-color;
              border-radius: 5px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
  #headphone-poster {
    .headphone-inner {
      position: relative;
      .headphone-bg {
        background-color: #f6f7fb;
        min-height: 300px;
        .text-hdp {
          padding: 60px;
          .minutes {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            gap: 17px;
            div.minutes-inner {
              background-color: white;
              width: 100%;

              border-radius: 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              p:nth-child(1) {
                margin-top: 15px;
                font-size: 19px;
                font-weight: 500;
              }
            }
          }
          h2 {
            font-size: 50px;
            font-weight: 600;
          }
          p {
            i,
            span {
              color: $pink-color;
              font-size: 18px;
              margin-left: 10px;
            }
            span {
              font-weight: 500;
            }
          }
        }
        .poster-hdp {
          position: relative;
          height: 100%;

          img {
            width: 73%;
            height: 100%;
            position: absolute;
            right: 20%;
            bottom: 25%;
          }
          .signals-main {
            overflow: hidden;
          }
          .signals {
            width: 60%;
            height: 70%;
            transform: rotate(30deg);
            position: absolute;
            top: 35%;
            right: 6%;

            div {
              border-radius: 50%;
              border-left: 2px solid $blue-color;
              transition: 0.7s ease;
              display: flex;
              justify-content: center;
              align-items: center;

              animation-name: signalChanger;
              animation-duration: 4s;
              animation-iteration-count: infinite;
            }
            .signal1 {
              width: 40%;
              height: 45%;
              animation-delay: 1.8s;
              .signal2 {
                width: 80%;
                height: 80%;
                animation-delay: 1.6s;
                .signal3 {
                  width: 80%;
                  height: 80%;
                  animation-delay: 1.4s;
                  .signal4 {
                    width: 80%;
                    height: 80%;
                    animation-delay: 1.2s;
                    .signal5 {
                      width: 80%;
                      height: 80%;
                      animation-delay: 1s;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #testimonials {
    .testimonials-bg {
      overflow: hidden;
      background-color: $soft-pink-color;
      min-height: 400px;
      padding: 5%;
      .option {
        background-color: $white-color;
        padding: 15px;
        text-align: start;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
      div {
        p {
          margin-bottom: 0;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
        p.profession:nth-child(1) {
          color: $gray-color;
          font-size: 13px;
        }
        p:nth-child(2) {
          font-weight: 500;
          font-size: 20px;
          letter-spacing: 1px;
          text-transform: capitalize;
        }
      }
    }
  }




#why-us{


  .header-why-us{
    display: flex;
   align-items: center;
    flex-direction: column;
    
  }
  .card-why-us{
    margin-top: 20px;
    display: flex;
    gap: 5%;
    min-height: 140px;
    div{
      width: 19%;
      border: 0.1px solid rgba(128, 128, 128, 0.798);
      border-radius: 7px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
     height: 100%;
     padding: 15px;
     height: 220px;
     overflow: hidden;
     gap: 12px;
     cursor: pointer;
     transition:0.5s ease-in-out;
     &:hover{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     
     }
      img{
        max-width: 100%;
        
      }
      span{
        display: block;
        text-align: center;
        font-size: 16px;
font-weight: 600;
      }

    }
  }
}
.parallax-inner{
  background-image: url(https://t3.ftcdn.net/jpg/01/14/47/12/360_F_114471291_nbYCT471AB0Ck6Wingz7YVCRFlUhdUvG.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 29, 91, 0.822);
  height: 300px;
}
}
.title-of-section {
  padding-left: 8%;
  i,
  span {
    color: $pink-color;
    font-size: 18px;
    margin-right: 10px;
  }
  span {
    font-weight: 500;
  }
}
.title-of-section + h2 {
  padding-left: 8%;
  font-size: 40px;
  font-weight: 500;
}
.filterDiv {
  display: none;
}
.show {
  display: block;
}
.category-btn.active {
  border: 1px solid $blue-color !important;
}
.card-inner {
  border-radius: 23px;
  overflow: hidden;
  height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;

  &:hover {
    div {
      overflow: hidden;
      img {
        transform: scale(1.1);
      }
    }
  }
  div {
    height: 65%;
    img {
      transition: 0.5s;
      width: 100%;
      height: 100%;
    }
    margin-bottom: 20px;
  }
  .prod-desc {
    p,
    span {
      margin-left: 20px;
    }
    p {
      font-size: 20px;
      color: $gray-color;
      margin-bottom: 2px;
    }
    span {
      font-weight: 500;
      font-size: 20px;
    }
    .price {
      color: $green-color !important;
    }
    span {
      del.old-price {
        color: $soft-gray-color;
      }
    }
    .buttons {
      height: fit-content;
      display: flex;
      justify-content: space-around;
      margin: 8px auto;
      margin-top: 5px;
      button:nth-child(1) {
        background-color: $blue-color;
        border: 0.1px solid $blue-color;
        &:hover {
          background-color: $white-color;

          color: $blue-color;
        }
      }
      button:nth-child(2) {
        background-color: $soft-purple-color;
        border: 0.1px solid $soft-purple-color;
        &:hover {
          background-color: $white-color;

          color: $soft-purple-color;
        }
      }
    }
    button:nth-child(3) {
      background-color: $pink-color;
      border: 0.1px solid $pink-color;
      &:hover {
        background-color: $white-color;

        color: $pink-color;
      }
    }
  }
  button {
    padding: 10px 15px;
    transition: 0.5s;
    cursor: pointer;
    color: $white-color;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
}
.prod-slide-item {
  .items > div {
    border: none;
  }
  .card-inner {
    height: 450px;
    box-shadow: none;
  }
}
.sold-des {
  margin-left: 20px;
  p{
    margin-bottom: 0;
    text-align: start;
  }
}
@keyframes signalChanger {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .hadphones-cols {
    display: none !important;
  }
  .minutes-inner {
    width: 60%;
    height: 100%;
    p {
      font-size: 15px;
    }
  }
  .testimonials-bg {
    div {
      p.profession:nth-child(1) {
        font-size: 17px !important;
      }
      p:nth-child(2) {
        font-size: 30px !important;
      }
    }
  }
}
.btn-custom {
  padding: 10px;
  color: white;
  border-radius: 7px;
}
.btn-basket {
  background-color: $blue-color;
  border: 0.1px solid $blue-color;
  &:hover {
    background-color: $white-color;

    color: $blue-color;
  }
}
.btn-wishlist {
  background-color: $soft-purple-color;
  border: 0.1px solid $soft-purple-color;
  &:hover {
    background-color: $white-color;

    color: $soft-purple-color;
  }
}

.btn-detail {
  background-color: $pink-color;
  border: 0.1px solid $pink-color;
  &:hover {
    background-color: $white-color;

    color: $pink-color;
  }
}
.newsletter{
  background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
  height: 300px;
  border-radius: 10px;
  .box-news{
   padding: 5%;
   input{

    padding: 10px 25px;
    height: 50px;
    border-radius: 7px;
    margin-right: 1%;
    outline: none;
    width: 33%;
   }
   h2{
    margin-bottom: 3%;
   }
  .btn{
    border-radius: 7px;
    height: 50px;
  }
  }
}
.pad-2{
  background-color: #f9f3f0 !important;
  
  margin-bottom: 0 !important;

}